<footer>
  <div class="footer-ornament"></div>
  <div class="bg-primary text-white pt-5 pb-4">
    <div class="container">
      <div class="row pb-3 justify-content-md-center">
        <div class="col-md-8 text-center">
          <h2 class="font-weight-bold m-0">Prefeitura Municipal de Rio Claro</h2>
          <p class="m-0 py-2">Avenida João Batista Portugal, 230<br/>Centro – Rio Claro - CEP: 27.460-000</p>
          <p class="m-0 py-2">Tel.: (24)3332-1717 ou (24)3332-1292</p>
          <p class="m-0 py-2">E-Mail: <a href="mailto:pmrc@rioclaro.rj.gov.br" class="text-white">pmrc@rioclaro.rj.gov.br</a></p>
        </div>
      </div>
    </div>
  </div>
</footer>
