<footer>
  <div class="footer-ornament"></div>
  <div class="bg-primary text-white pt-5 pb-4">
    <div class="container">
      <div class="row pb-3 justify-content-md-center">
        <div class="col-md-8 text-center">
          <h2 class="font-weight-bold m-0">Prefeitura Municipal de Rio Claro</h2>
          <h4 class="font-weight-bold m-0">{{departmentName}}</h4>
          <p class="m-0 pt-2" [innerHTML]="departmentAddres"></p>
        </div>
      </div>

      <div class="row pt-3 justify-content-md-center">
        <div class="col-md-4 text-center">
          <small>Desenvolvido pela Divisão de Tecnologia da Informação da Secretaria Municipal de Educação</small>
        </div>
      </div>
    </div>
  </div>
</footer>
