<section class="with-center-header py-5">
  <div class="container">
    <header class="mx-auto my-0 text-center">
      <h4 class="font-weight-bold m-0">Últimas</h4>
      <h1 class="font-weight-light m-0">Notícias</h1>
    </header>
    <div class="container-fluid">

      <ng-template [ngIf]="dataSource$ | async" [ngIfElse]="loading">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 d-flex flex-row flex-wrap align-items-stretch justify-content-center my-4">
            <div class="text-center text-md-left col cols-stripedes py-5 px-4" *ngFor="let noticia of dataSource$ | async">
              <a href="{{noticia.link}}" rel="noreferrer" target="_blank"><h5 class="font-weight-bold">{{noticia.title.rendered}}</h5></a>
              <small class="text-black-50">{{noticia.date | relativeTime }}</small>
            </div>
        </div>
      </ng-template>

      <ng-template #loading>
        <div class="d-flex flex-wrap justify-content-center my-4">
          <mat-spinner color="accent" mode="indeterminate" diameter="50"></mat-spinner>
        </div>
      </ng-template>

      <div class="row row-cols-2 row-cols-md-3 row-cols-lg-4 d-flex flex-row flex-wrap align-items-stretch justify-content-center">
        <a class="btn btn-secondary btn-lg btn-block h-100 font-weight-bold d-flex align-items-center justify-content-center" href="https://rioclaro.rj.gov.br/tag/educacao/" rel="noreferrer" target="_blank" role="button">Ver todas as notícias</a>
      </div>
    </div>

  </div>
</section>
