<header class="header-top">
  <div class="container d-flex flex-column flex-md-row align-items-center">
    <div class="mr-md-auto">
      <span class="font-weight-bold">
        <a href="https://rioclaro.rj.gov.br/">rioclaro.rj.gov.br</a>
      </span>
      <ul class="list-inline d-block d-sm-inline-block m-0 ml-sm-3 font-weight-bold text-center">
        <li class="list-inline-item">
          <a target="_blank" href="https://www.facebook.com/PrefeituradeRioClaroRJ"><i class="fa fa-facebook" aria-hidden="true"></i></a>
        </li>
        <li class="list-inline-item">
          <a target="_blank" href="https://www.youtube.com/channel/UClIXNzvRWRTQ31i4UuSxAuQ"><i class="fa fa-youtube" aria-hidden="true"></i></a>
        </li>
        <li class="list-inline-item">
          <a target="_blank"href="https://www.instagram.com/prefeituraderioclarorj/"><i class="fa fa-instagram" aria-hidden="true"></i></a>
        </li>
      </ul>

    </div>
    <div>
      <ul class="list-inline m-0 font-weight-bold d-flex flex-md-row flex-column text-center">
        <li class="list-inline-item m-0 mr-sm-3"><a href="https://e-gov.betha.com.br/protocolo/01038-008/con_nroprocesso.faces" target="_blank">Consulta Processos</a></li>
        <li class="list-inline-item m-0 mr-sm-3"><a href="https://get.teamviewer.com/6PBFJWN" rel="noreferrer" target="_blank">Suporte Remoto</a></li>
        <li class="list-inline-item m-0 mr-sm-3"><a href="https://rioclaro.rj.gov.br:2096/" rel="noreferrer" target="_blank">Acesso ao webmail</a></li>
      </ul>
    </div>
  </div>
</header>
