header.header-top{
  padding: 8px 0px;
  background-color: $gray-100;
  border-bottom: 1px solid rgba($blue, .10);
}

header.header-title{
  padding-top: 24px;
  padding-bottom: 32px;

  h3, h2{
    max-width: 520px;
  }
}

section.with-center-header header{
  &:after{
    display: block;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: $secondary;
    width: 100px;
    height: 5px;
    content: "";
  }
}
