<div class="modal-content border-0">
  <div class="modal-header bg-primary">
    <h5 class="modal-title font-weight-bold text-white">Unidades Escolares</h5>
    <button class="close" data-dismiss="modal" aria-label="Close" mat-dialog-close>
      <span aria-hidden="true" class="text-white">&times;</span>
    </button>
  </div>
  <mat-dialog-content class="m-0 p-0">
    <div class="modal-body">
      <ul class="list-group">

        <li class="list-group-item my-2 border-0" *ngFor='let unit of units'>
          <h5 class="mb-0 font-weight-bold text-primary">{{unit.unitName}}</h5>
          <p class="mb-0">{{unit.unitAddress}}</p>
          <p class="mb-0"><small>Distrito: {{unit.unitLocality}} - Localização: {{unit.unitType}}</small></p>
          <p class="mb-0"><small>E-Mail: {{unit.unitEmail}}</small> - <small>Telefone/Ramal: {{unit.unitPhone}}</small></p>
        </li>

      </ul>
    </div>
  </mat-dialog-content>
</div>
