<div class="container-fluid py-2">
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 d-flex flex-row flex-wrap align-items-stretch justify-content-center">
    <div class="col pb-3">
      <a class="btn btn-secondary btn-lg btn-block h-100 font-weight-bold d-flex align-items-center justify-content-center" role="button" (click)="openModalContact()">Ouvidoria</a>
    </div>

    <div class="col pb-3">
      <a class="btn btn-secondary btn-lg btn-block h-100 font-weight-bold d-flex align-items-center justify-content-center" role="button" (click)="openModalUnitListing()">Unidades Escolares</a>
    </div>

    <div class="col pb-3">
      <a class="btn btn-secondary btn-lg btn-block h-100 font-weight-bold d-flex align-items-center justify-content-center" href="https://pmrc-mda.firebaseapp.com/" target="_blank" role="button">E_Educa</a>
    </div>
  </div>
</div>
