<div class="container-fluid py-2">
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 d-flex flex-row flex-wrap align-items-stretch justify-content-center">
    <div class="col pb-3">
      <a class="btn btn-secondary btn-lg btn-block h-100 font-weight-bold d-flex align-items-center justify-content-center" role="button" target="_blank" href="https://api.whatsapp.com/send?phone=+552499906-2409">Fale Conosco</a>
    </div>

    <div class="col pb-3">
      <a class="btn btn-secondary btn-lg btn-block h-100 font-weight-bold d-flex align-items-center justify-content-center" role="button" (click)="openModalUnitListing()">Unidades Escolares</a>
    </div>
  </div>
</div>
